<div class="course-detail row">
  <div class="col-xs-12 col-sm-3">
    <div class="side-bar">This is side bar</div>
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="course-detail__content">
      <h3 class="course-title"><%= course.name %></h3>
      <div class="course-thumbnail">
        <img src="<%= course.image %>" alt="Course Detail Image" />
      </div>
      <div class="course-description">
        <span> <%= course.description %> </span>
      </div>
    </div>
  </div>
</div>
