<a href="/courses">
  <button class="btn btn-outline-primary">Go to Course List</button>
</a>
<!-- <div class="course-list row">
  <% courses.forEach((course) => { %> <%- include('../partials/card.ejs' ,
  {course}) %> <% }) %>
</div> -->
